<div class="container" ng-init="getUserImages()">
   <div class="row">
      <div class="col-md-6">
         <div class="profile-image">
            <uib-carousel>
               <uib-slide ng-repeat="image in user.images" active="slide.active" actual>
                  <div class="profile-image">
                     <a ng-click="setProfileImage(image.image_url)"><img ng-src="{{ image.image_url }}" height="455px" width="600px">
                     </a>
                  </div>
                  <div class="carousel-caption">
                     <p>profile image {{ $index }}</p>
                  </div>
               </uib-slide>
            </uib-carousel>
            <p><i>* click to set image as profile image</i>
            </p>
         </div>
      </div>
      <div class="col-md-6">
         <div class="row" style="height: 440px">
            <div class="content-inner" ng-repeat="image in user.images">
               <h4>{{ image.title }}</h4>
            </div>
            <div class="form-group">
               <input id="upload" type="file" name="file" class="upload" style="display: none" file />
               <button type="button" uploadfile class="btn btn-default btn-block">Select Image to upload</button>
               <button type="button" ng-click="openImageManager()" class="btn btn-default btn-block">Manage User Images</button>
               <!-- Progress Bar -->
               <div class="progress" style="margin-top: 15px">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                     {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                  </div>
               </div>
               <a class="btn btn-block btn-lg" ng-click="uploadImage()">Upload</a>
            </div>
         </div>
         <div class="row">
            <div class="btn-group pull-right">
               <a class="btn btn-default" ng-click="cancel()">Close</a> <a class="btn btn-default" ng-click="ok(); upsertUser(user)" style="margin-left: 5px">Save</a>
            </div>
         </div>
      </div>
   </div>

</div>