<div class="container" ng-init="entriesAdminCtrl.getEntries()">
   <div class="row">
      <table class="table">
         <h1>news entries</h1>
         <tr>
            <th>title</th>
            <th>author</th>
            <th>options</th>
         </tr>
         <tr ng-repeat="entry in entriesAdminCtrl.entries">
            <td>{{ entry.title }}</td>
            <td>{{ entry.user.username }}</td>
            <td>
               <a class="btn btn-default" ui-sref="admin.entries-edit({ entry: entry.title_url })">Edit</a> <a class="btn btn-default" ng-click="entriesAdminCtrl.deleteEntry(entry.id)">Delete</a>
            </td>
         </tr>
      </table>
      <a class="btn btn-default btn-block" ui-sref="admin.entries-create">Add Entry</a>
   </div>
</div>