<div class="container">
   <div class="row">
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title"><a href="#!/admin/posts">Posts</a>
         </h3>
            </div>
            <div class="panel-body">
               Manage online content
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title"><a href="#!/admin/users">Users</a>
         </h3>
            </div>
            <div class="panel-body">
               Manage user settings and privileges
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title"><a href="#!/admin/entries">News</a>
         </h3>
            </div>
            <div class="panel-body">
               Manage front page news articles
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4">

         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title"><a href="#!/admin/issues">Issues and Pieces</a>
         </h3>
            </div>
            <div class="panel-body">
               Manage Issues and pieces
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title"><a href="#!/admin/images">Images</a>
         </h3>
            </div>
            <div class="panel-body">
               Manage uploaded images
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title"><a href="#!/admin/submissions">Submissions</a>
         </h3>
            </div>
            <div class="panel-body">
               Comment and vote on submissions
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title"><a href="#!/admin/email">Email</a>
         </h3>
            </div>
            <div class="panel-body">
               View the Le Mat email account
            </div>
         </div>
      </div>
   </div>
</div>