<div class="container" ng-init="getEntries()">
   <table class="table">
      <tr>
         <th>title</th>
         <th>author</th>
         <th>options</th>
      </tr>
      <tr ng-repeat="entry in entries">
         <th>{{ ::entry.title }}</th>
         <th>{{ ::entry.user.username }}</th>
         <th>
            <a class="btn btn-default" href="#!/admin/entries/{{ ::entry.title_url }}/edit">Edit</a>
         </th>
      </tr>
   </table>
   <a class="btn btn-default" href="#!/entry-create">Add Entry</a>
</div>