<div class="container" ng-init="getEntries()">
   <table class="table">
      <tr>
         <th>title</th>
         <th>author</th>
         <th>options</th>
      </tr>
      <tr ng-repeat="entry in entries">
         <td>{{ entry.title }}</td>
         <td>{{ entry.user.username }}</td>
         <td>
            <a class="btn btn-default" href="#!/admin/entries/{{ ::entry.title_url }}/edit">Edit</a>
         </td>
      </tr>
   </table>
   <a class="btn btn-default" href="#!/admin/entries/create">Add Entry</a>
</div>