<div class="container" ng-init="getAllImages()">
   <div class="row">
      <div dir-paginate="image in images | itemsPerPage: 8" current-page="currentPage">
         <div class="col-xs-3">
            <div class="profile-image">
               <img ng-src="{{ image.image_url }}" height="255" width="255" />
            </div>
            <div class="description">
               owner: {{ image.user }}
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <ul class="pager">
         <dir-pagination-controls template-url="views/core/partials/pagination.html"></dir-pagination-controls>
      </ul>
   </div>
</div>