<div class="container" ng-controller="IssueAdminController as vm" ng-init="vm.getIssues()">
   <div class="row" ng-repeat="issue in vm.issues">
      <h2><a href="#!/admin/issues/{{ ::issue.id }}/edit">{{ ::issue.title }}</a></h2>
      <h3>created: {{ ::issue.created_at | date: 'medium' }}</h3>
   </div>
   <hr>
   <div class="row">
      <h1>Add Issue:</h1>
      <div class="form-group">
         <label for="name">Title</label>
         <input type="text" ng-model="issue.title" id="title" class="form-control" placeholder="title" required>
      </div>
      <div class="form-group">
         <label for="download">Download Link</label>
         <input id="upload" type="file" name="pdf" class="upload" style="display: none" file-select folder="'issues/'" accept=".pdf" ng-model="issue.downloadLink" />
         <button type="button" uploadfile class="btn btn-default btn-block">Select pdf to upload</button>
      </div>
<!--
      <div class="form-group">
         <label for="image">Cover Image</label>
         <input id="upload" type="file" name="cover" class="upload" style="display: none" file-select folder="'covers/'" accept="image/*" ng-model="image" />
         <button type="button" uploadfile class="btn btn-default btn-block">Select Image to upload</button>
      </div>
-->
      <a class="btn btn-default" ng-click="upsertIssue(issue)">Submit</a>
   </div>
</div>