<div class="container" ng-controller="PostAdminController as vm" ng-init="vm.getPosts()">
   <table class="table">
      <tr>
         <th>title</th>
         <th>author</th>
         <th>options</th>
      </tr>
      <tr ng-repeat="post in vm.posts">
         <td>{{ ::post.title }}</a></td>
         <td>{{ ::post.user.username }}</td>
         <td><a class="btn btn-default" href="#!/admin/posts/{{ ::post.title_url }}/edit">Edit</a></td>
      </tr>
   </table>
   <a class="btn btn-default" href="#!/admin/posts/create">Add Post</a>
</div>