<div class="container" ng-init="getSubmissions(); getEditors()">
   <div class="row">
      <table class="table">
         <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 60%">
               <tr>
                  <th>sender</th>
                  <th>total votes</th>
                  <th>options</th>
               </tr>
               <tr ng-repeat="submission in submissions">
                  <td>{{ ::submission.email_address }}</td>
                  <td>{{ submission.votes }} out of {{ editors.length }}</td>
                  <td>
                     <a class="btn btn-default" href="#!/admin/submissions/{{ ::submission.id }}">view</a>
                     <a class="btn btn-default" href="#!/admin/submissions/{{ ::submission.id }}/comments">view comments</a>
                     <a class="btn btn-default" ng-click="open($index)">Cast Vote</a>
                     <a class="btn btn-default" href="{{ ::submission.attachment }}">download submission</a>
                  </td>
               </tr>
      </table>
   </div>
</div>