<div class="container">
   <div class="form-group">
      <label for="name">Title</label>
      <input type="text" ng-model="issuesAdminCtrl.piece.title" id="title" class="form-control" placeholder="title" required>
   </div>
   <div class="form-group">
      <label for="type">Type</label>
      <input type="text" ng-model="issuesAdminCtrl.piece.piece_type" id="type" class="form-control" placeholder="type" required>
   </div>
   <div class="form-group" ng-controller="UserController" ng-init="getUsers()">
      <label for="user">Author(s):</label><font ng-repeat="user in issuesAdminCtrl.piece.users"><span ng-show="!$first && !$last">, </span><span ng-show="$last && !$first"> and </span>{{ ::user.username }}</font>
      <div class="input-group">
         <span class="input-group-addon" id="user-addon"><a ng-click="openUserModal()">Create User</a></span>
         <angucomplete-alt id="authors" placeholder="Search contributing authors" pause="100" selected-object="selectedUser" local-data="issuesAdminCtrl.users" search-fields="username" title-field="username" minlength="1" input-class="form-control" aria-describedby="user-addon" />
      </div>
   </div>
   <div class="form-group">
      <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="400px" textarea-name="textareaQuestion" textarea-required ng-model="issuesAdminCtrl.piece.content"></wysiwyg>
   </div>
   <a class="btn btn-default" ng-click="issuesAdminCtrl.upsertPiece(piece)">Submit</a>
</div>