<div class="container" ng-controller="EntryClientController as vm" ng-init="vm.getEntry()">
   <div class="row">
      <h1 class="news-entry">{{ vm.entry.title }}</h1>
      <hr>
      <p class="post-meta">Posted by <a ng-href="#!/user/{{ vm.entry.user.username }}"> {{ vm.entry.user.email }}</a> on {{ vm.entry.created_at | date:'medium' }}</p>
      <p ng-bind-html="vm.entry.content | to_trusted"></p>
      <p class="pull-right">- {{ vm.entry.user.email }}</p>
   </div>
   <hr>
   <div class="row">
      <a class="btn btn-default" ng-href="/#!/">Back</a> <a class="btn btn-default" social-twitter custom-url="{{ ::vm.url }}"><span class="fa fa-twitter"></span></a>

      <dir-disqus disqus-shortname="lematjournal" disqus-identifier="{{ vm.identifier }}" disqus-url="{{ vm.url }}" disqus-title="{{ vm.entry.title }}">
      </dir-disqus>
   </div>
</div>