<div class="container" ng-controller="EntryClientController as vm" ng-init="vm.getEntries()">
   <div dir-paginate="entry in vm.entries | itemsPerPage: 5 | orderBy: '-created_at'" current-page="currentPage">
      <a ng-href="#!/entry/{{ ::entry.title_url }}">
         <h1 class="news-entry" style="text-transform: uppercase">{{ ::entry.title }}</h1>
      </a>
      <hr class="entry-rule">
      <p class="post-meta">Posted by <a ng-href="#!/user/{{ ::entry.user.username }}"> {{ ::entry.user.email }}</a> on {{ ::entry.created_at | date:'medium' }} <span class="disqus-comment-count" data-disqus-url="{{ ::url }}entry/{{ ::entry.title_url }}"></span>
      </p>
      <br>
      <p class="post-subtitle" ng-bind-html="entry.content | to_trusted"></p>
   </div>
   <br>
   <ul class="pager">
      <dir-pagination-controls template-url="views/core/partials/pagination.html"></dir-pagination-controls>
   </ul>
</div>

<script type="text/javascript">
   /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
   var disqus_shortname = 'lematjournal'; // required: replace example with your forum shortname

   /* * * DON'T EDIT BELOW THIS LINE * * */
   (function () {
      var s = document.createElement('script');
      s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
   }());
</script>