<div class="container" ng-controller="PostClientController as vm" ng-init="vm.getPosts()">
   <header class="contrast-bar">
      <h3 class="section-title"><a ng-click="setFilter()">all</a> // <a ng-click="setFilter('art')">art</a> // <a ng-click="setFilter('essay')"> essays</a> // <a ng-click="setFilter('poetry')">poetry</a> // search: <input type="text" style="width: 200px" ng-model="filters.tags" /></h3>
   </header>
   <hr>
   <div class="row">
      <div class="col-md-6" ng-repeat="post in vm.posts | filter:filters">
         <div class="panel panel-default">
            <div class="panel-heading" ng-if="post.post_type === 'text'"><a style="text-transform: uppercase" href="/#!/online/{{ ::post.title_url }}">{{ ::post.title }}</a>
            </div>
            <div class="panel-body">
               <div class="video embed-responsive embed-responsive-16by9" ng-if="post.post_type === 'video'">
                  <youtube-video video-url="post.content" style="padding-bottom: 5px"></youtube-video>
               </div>
               <p class="overflow elipsis" ng-if="post.post_type === 'text'" ng-bind-html="post.content | to_trusted"></p>
            </div>
            <div class="panel-footer">
               <div class="row" style="display: table-row">
                  <div class="tags">
                     <a class="text-center" style="margin-top: 5px" uib-popover-template="popover.templateUrl"><p>TAGS</p></a>
                     <script type="text/ng-template" id="tag-popover.template.html">
                        <div class="form-group">
                           <p><font ng-repeat="tag in post.tags"><span ng-show="!$first">, </span><a ng-click="setFilter(tag)">#{{ ::tag | uppercase }}</a></font></p>
                        </div>
                     </script>
                  </div>
                  <div class="author">
                     <a href="#!/user/{{ ::post.user.username }}"><p class="text-center" style="margin-top: 5px">{{ ::post.user.username }}</p></a>
                  </div>
                  <div class="share" style="text-align: center">
                     <a social-twitter custom-url="http://lematjournal.org/#!/online/{{ ::post.title_url }}" style="margin-top: 5px">
                        <p class="fa fa-twitter"></p>
                     </a>
                  </div>
                  <div class="link">
                     <a href="/#!/online/{{ ::post.title_url}}" style="margin-top: 5px">
                        <p class="text-center" style="margin-left: -5px">LINK</p>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>