<div class="container" ng-controller="PostClientController as vm" ng-init="vm.getPost()">
   <div class="row">
      <h4 class="title text-center">{{ vm.post.title }}</h4>
      <p class="text-center">{{ vm.post.user.username }} - {{ vm.post.created_at | date: 'medium' }}</p>
      <hr>
      <div class="embed-responsive embed-responsive-16by9" ng-if="vm.post.post_type === 'video'">
         <youtube-video video-url="vm.post.content"></youtube-video>
      </div>
      <p ng-if="vm.post.post_type === 'text'" ng-bind-html="vm.post.content | to_trusted"></p>
      <hr>
      <a class="btn btn-default" ng-href="/#!/online">Back</a> <a class="btn btn-default" social-twitter custom-url="{{ vm.url }}"><span class="fa fa-twitter"></span></a>
      <dir-disqus disqus-shortname="lematjournal" disqus-identifier="{{ vm.identifier }}" disqus-url="{{ vm.url }}" disqus-title="{{ vm.post.title }}">
      </dir-disqus>
   </div>
</div>