<nav class="navbar navbar-default navbar-fixed-top" style="margin-top: -25px;" scroll-position="scroll">
   <div class="container-fluid">
      <div class="navbar-header-dropdown" uib-dropdown dropdown-append-to-body>
         <a class="menu-bar" uib-dropdown-toggle><span class="glyphicon glyphicon-menu-hamburger" style="font-size: 16px;"></span><font class="menu-logo">LE MAT<b ng-if="title"> //</b> {{ title }}</a></font>
         <div class="dropdown-menu">
            <ul class="nav col-sm-6 col-xs-6" role="menu">
               <li>
                  <h4 style="padding-left: 5px;">HOME</h4>
               </li>
               <li class="divider"></li>
               <li><a ui-sref="main">MAIN PAGE</a>
               </li>
               <li><a ui-sref="main.issues">ISSUES</a>
               </li>
               <li><a ui-sref="main.issues-detail({ id: 1 })">CURRENT ISSUE</a>
               </li>
               <li><a ui-sref="main.about">ABOUT</a>
               </li>
               <li ng-if="!navCtrl.isAuthenticated()"><a ui-sref="main.login">LOGIN</a>
               </li>
               <li ng-if="navCtrl.isAuthenticated()"><a ng-click="navCtrl.logout()">LOGOUT</a>
               </li>
            </ul>
            <ul class="nav col-sm-6 col-xs-6" role="menu">
               <li>
                  <h4 style="padding-left: 5px;">ONLINE</h4>
               </li>
               <li class="divider"></li>
               <li><a ng-click="setFilter()">CONTENTS</a>
               </li>
               <li><a ng-click="setFilter('art')">ART</a>
               </li>
               <li><a ng-click="setFilter('essay')">ESSAYS</a>
               </li>
               <li><a ng-click="setFilter('poetry')">POETRY</a>
               </li>
            </ul>
            <ul class="nav col-sm-6 col-xs-6" role="menu" ng-if="navCtrl.isAuthenticated()">
               <li>
                  <h4 style="padding-left: 5px;">USER</h4>
               </li>
               <li class="divider"></li>
               <li ng-if="navCtrl.isAdmin()"><a ui-sref="admin">ADMIN</a>
               </li>
               <li ng-if="navCtrl.isAdmin()"><a ui-sref="main.profile">PROFILE</a>
               </li>
            </ul>
            <ul class="nav col-sm-6 col-xs-6 contact" role="menu">
               <li>
                  <h4 style="padding-left: 5px;">CONTACT</h4>
               </li>
               <li class="divider"></li>
               <li><a ui-sref="main.submissions">SUBMISSIONS</a>
               </li>
               <li><a ui-sref="main.editors">EDITORS</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</nav>