<div class="content" ng-controller="EntryAdminController as vm" ng-init="vm.getEntry()">
   <div class="container">
      <div class="form-group">
         <label for="name">Title</label>
         <input type="text" ng-model="vm.entry.title" id="title" class="form-control" placeholder="title" required>
      </div>
      <div class="form-group" ng-controller="UserController as user" ng-init="user.getUsers()">
         <label for="user">Author: </label>{{ vm.entry.user.username }}
         <div class="input-group">
            <span class="input-group-addon" id="user-addon"><a ng-click="openUserModal()">Create user</a></span>
            <angucomplete-alt id="authors" placeholder="Search contributing authors" pause="100" selected-object="selectedUser" local-data="user.users" search-fields="username" title-field="username" minlength="1" input-class="form-control" initial-value="vm.entry.user.username" aria-describedby="user-addon" />
         </div>
      </div>
      <div class="form-group">
         <label>Image Url</label>
         <input type="text" class="form-control" ng-model="vm.entry.image_url">
      </div>
      <div class="form-group">
         <label>Entry Body</label>
         <wysiwyg textarea-id="content" textarea-class="form-control" textarea-height="400px" textarea-name="textareaQuestion" textarea-required ng-model="vm.entry.content"></wysiwyg>
      </div>
      <div class="form-group">
         <label for="content">Embedded HTML</label>
         <input type="text" class="form-control" ng-model="vm.entry.content" />
      </div>
      <a class="btn btn-default" ng-click="vm.upsertEntry(vm.entry)">Submit</a>
      <a class="btn btn-default" ng-click="vm.deleteEntry()"><i class="glyphicon glyphicon-trash"></i></a>
   </div>
</div>