<div class="container">
   <div class="form-group">
      <label for="name">Title</label>
      <input type="text" ng-model="piece.title" id="title" class="form-control" placeholder="title" required>
   </div>
   <div class="form-group">
      <label for="type">Type</label>
      <input type="text" ng-model="piece.piece_type" id="type" class="form-control" placeholder="type" required>
   </div>
   <div class="form-group" ng-controller="UserController" ng-init="getUsers()">
      <label for="user">Author(s):</label><font ng-repeat="user in piece.users"><span ng-show="!$first && !$last">, </span><span ng-show="$last"> and </span>{{ ::user.username }}</font>
      <div class="input-group">
         <span class="input-group-addon" id="user-addon"><a ng-click="openUserModal()">Create User</a></span>
         <angucomplete-alt id="authors" placeholder="Search contributing authors" pause="100" selected-object="selectedUser" local-data="users" search-fields="username" title-field="username" minlength="1" input-class="form-control" aria-describedby="user-addon" />
      </div>
   </div>
   <div class="form-group" ng-init="getIssues()">
      <label for="issue">Issue</label>
      <select ng-model="piece.issue_id" class="form-control">
         <option ng-repeat="issue in issues" value="{{ ::issue.id }}">{{ ::issue.title }}</option>
      </select>
   </div>
   <div class="form-group">
      <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="400px" textarea-name="textareaQuestion" textarea-required ng-model="piece.content" enable-bootstrap-title="true"></wysiwyg>
   </div>
   <a class="btn btn-default" ng-click="upsertPiece(piece)">Submit</a>
</div>