<div class="container" ng-controller="UserController as vm" ng-init="vm.getUser()">
   <div class="row">
      <h3 class="title text-center">{{ vm.user.username }}</h3>
      <hr>
      <div class="profile-image">
         <a ng-click="open()" uib-tooltip="click to change"><img class="img-responsive center-block" src="{{ vm.user.profile_image }}" height="455px" width="455px" />
         </a>
      </div>
      <br>
   </div>
   <hr>
   <div class="row">
      <!--panel-->
      <div class="panel panel-default">
         <div class="panel-heading">User</div>
         <div class="panel-body">
            <div class="row">
               <div class="col-md-6">
                  <div class="list-group">
                     <a class="list-group-item" ng-click="select($event); selection = 'info'">Info</a>
                     <a class="list-group-item" ng-click="select($event); selection = 'role'">Role</a>
                     <a class="list-group-item active" ng-click="select($event); selection = 'settings'">Settings</a>
                     <a class="list-group-item" ng-click="select($event); selection = 'password'">Password</a>
                     <a class="list-group-item" ng-click="select($event); selection = 'actions'">Actions</a>
                  </div>
               </div>
               <div class="col-md-6" ng-switch on="selection">
                  <div class="animate-switch" ng-switch-when="actions">
                     <a class="btn btn-default btn-block" ng-click="vm.upsertUser(user)">Save</a>
                     <a class="btn btn-default btn-block" ng-click="vm.resetUser()">Reset</a>
                     <a class="btn btn-default btn-block" ng-click="vm.deleteUser(vm.user.id, vm.user.username)">Delete</a>
                  </div>
                  <div class="animate-switch" ng-switch-default>
                     <div class="form-group">
                        <label for="name">Email</label>
                        <input type="text" ng-model="vm.user.email" id="email" class="form-control" placeholder="email">
                     </div>
                     <div class="form-group">
                        <label for="name">Username</label>
                        <input type="text" ng-model="vm.user.username" id="username" class="form-control" placeholder="username">
                     </div>
                  </div>
                  <div class="animate-switch" ng-switch-when="role">
                     <div class="form-group" ng-if="isAdmin()">
                        <label for="role">Role</label>
                        <select class="form-control" ng-model="vm.user.role">
                           <option value="admin">admin</option>
                           <option value="editor">editor</option>
                           <option value="author">author</option>
                           <option value="contributor">contributor</option>
                        </select>
                     </div>
                  </div>
                  <div class="animate-switch" ng-switch-when="info">
                     <h4>email: {{ vm.user.email }}</h4>
                     <h4>username: {{ vm.user.username }}</h4>
                     <h4>role: {{ vm.user.role }}</h4>
                     <h4>issue pieces: {{ vm.user.pieces.length }}</h4>
                     <h4>online content: {{ vm.user.posts.length }}</h4>
                     <h4>news entries: {{ vm.user.entries.length }}</h4>
                  </div>
                  <div class="animate-switch" ng-switch-when="password">
                     <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" ng-model="vm.user.password" id="author" class="form-control" placeholder="password" required>
                     </div>
                     <div class="form-group">
                        <label for="author">Confirm Password</label>
                        <input type="password" ng-model="vm.user.passwordConfirm" id="password" class="form-control" placeholder="password confirm" match="vm.user.password" required>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row" ng-if="vm.user.bio">
      <div class="panel panel-default">
         <div class="panel-heading">Bio</div>
         <div class="panel-body">
            <p>{{ vm.user.bio }}</p>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="panel panel-default">
         <div class="panel-heading">Content</div>
         <div class="panel-body">
            <div class="container" style="margin-top: -50px">
               <div class="row" ng-if="vm.user.pieces.length > 0">
                  <table class="table">
                     <col style="width: 50%">
                        <col style="width: 50%">
                           <tr>
                              <th>pieces</th>
                              <th>options</th>
                           </tr>
                           <tr ng-repeat="piece in vm.user.pieces | orderBy: 'order'">
                              <th>{{ ::piece.title | cut:true: 25 }}</th>
                              <th><a class="btn btn-default" href="#!/admin/issues/{{ ::piece.issue_id }}/{{ ::piece.title_url }}/edit">Edit</a> <a class="btn btn-default" href="#!/admin/issues/{{ ::piece.issue_id }}/{{ ::piece.title_url }}">Preview</a>
                              </th>
                           </tr>
                  </table>
               </div>
               <div class="row" ng-if="vm.user.posts.length > 0">
                  <table class="table">
                     <tr>
                        <th>online content</th>
                        <th>options</th>
                     </tr>
                     <col style="width: 50%">
                        <col style="width: 50%">
                           <tr ng-repeat="post in vm.user.posts">
                              <th>{{ ::post.title }}</th>
                              <th><a class="btn btn-default" href="#!/admin/posts/{{ ::post.title_url }}/edit">Edit</a> <a class="btn btn-default" href="#!/online/{{ ::post.title_url }}">Preview</a>
                              </th>
                           </tr>
                  </table>
               </div>
               <div class="row" ng-if="vm.user.entries.length > 0">
                  <table class="table">
                     <tr>
                        <th>news entries</th>
                        <th>options</th>
                     </tr>
                     <col style="width: 50%">
                        <col style="width: 50%">
                           <tr ng-repeat="entry in vm.user.entries">
                              <th>{{ ::entry.title }}</th>
                              <th>
                                 <a class="btn btn-default" href="#!/admin/entries/{{ ::entry.title_url }}/edit">Edit</a> <a class="btn btn-default" href="#!/entry/{{ ::entry.title_url }}">Preview</a>
                              </th>
                           </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>