<div class="content" ng-init="getEntry()">
	<div class="container">
		<div class="form-group">
			<label for="name">Title</label>
			<input type="text" ng-model="entry.title" id="title" class="form-control" placeholder="title" required>
		</div>
		<div class="form-group">
			<wysiwyg textarea-id="content" textarea-class="form-control" textarea-height="400px" textarea-name="textareaQuestion" textarea-required ng-model="entry.content" enable-bootstrap-title="true"></wysiwyg>
		</div>
		<a class="btn btn-default" ng-click="upsertEntry(entry)">Submit</a>
	</div>
</div>