<div class="container" ng-init="getIssue()">
   <div class="row">
      <h2>issue name: <input type="text" ng-model="issue.title"></h2>
      <h3>created: {{ issue.created_at }}</h3>
      <table class="table">
         <tr>
            <th>order</th>
            <th>title</th>
            <th>author</th>
            <th>options</th>
         </tr>
         <tr ng-repeat="piece in issue.pieces | orderBy: 'order'">
         <th>{{ piece.order }}</th>
         <th>{{ piece.title | cut:true: 25 }}</th>
         <th>by <font ng-repeat="user in piece.users"><span ng-show="!$first && !$last">, </span><span ng-show="$last && !$first"> and </span>{{ user.username }}</font></th>
            <th><a class="btn btn-default" href="#/issue/{{ issue.id }}/{{ piece.title_url }}/edit">Edit</a> <a class="btn btn-default" href="#/issue/{{ issue.id }}/{{ piece.title_url }}">Preview</a> <a class="btn btn-default" ng-click="piece.order = piece.order + 1"><span class="glyphicon glyphicon-chevron-up"></span></a> <a class="btn btn-default" ng-click="piece.order = piece.order - 1"><span class="glyphicon glyphicon-chevron-down"></span></a></th>
         </tr>
            </table>
	<a class="btn btn-default" href="#/piece-create">Add Piece</a> <a class="btn btn-default" ng-click="updatePieces()">Update Order</a> <a class="btn btn-default" ng-click="upsertIssue(issue)">Submit</a>

	</div>
	<hr>      
	<div class="row">
<!--
		<h2>cover images</h2>
		<div class="form-group">
			<label>Issue Image: </label>
			<input type="text" ng-model="issue.image">
		</div>
-->
<!--
		<div class="form-group">
			<label>Issue Download Link</label>
			<input type="text" class="form-control" ng-model="issue.">
		</div>
-->
	</div>
</div>