<div class="container" ng-init="getPiece()">
   <div class="form-group">
      <label for="name">Title</label>
      <input type="text" ng-model="piece.title" id="title" class="form-control" placeholder="title" required>
   </div>
   <div class="form-group">
      <label for="type">Type</label>
      <input type="text" ng-model="piece.piece_type" id="type" class="form-control" placeholder="type" required>
   </div>
   <div class="form-group" ng-controller="UserController" ng-init="getUsers()">
      <label for="authors">Author(s):</label>
      <font ng-repeat="user in piece.users"><span ng-show="!$first && !$last">, </span><span ng-show="$last && !$first"> and </span>{{ user.username }}<a ng-click="removeUser(user.id)"><span class="glyphicon glyphicon-remove"></a></span></font>
      <angucomplete-alt id="authors" placeholder="Search contributing authors" pause="100" selected-object="selectedUser" local-data="users" search-fields="username" title-field="username" minlength="1" input-class="form-control form-control-small" initial-value="piece.author" aria-describedby="basic-addon1" />
   </div>
   <a class="btn btn-default" ng-click="open()">Create New User</a>
   <div class="form-group" ng-init="getIssues()">
      <label for="issue">Issue</label>
      <select ng-model="piece.issue_id" class="form-control">
         <option ng-repeat="issue in issues" value="{{issue.id }}">{{ issue.title }}</option>
      </select>
   </div>
   <div class="form-group">
      <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="400px" textarea-name="textareaQuestion" textarea-required ng-model="piece.content" enable-bootstrap-title="true"></wysiwyg>
   </div>
   <a class="btn btn-default" ng-click="upsertPiece(piece)">Submit</a>
   <a class="btn btn-default" ng-click="deletePiece()">
      <i class="glyphicon glyphicon-trash"></i>
   </a>
</div>