<div class="container" ng-init="getPost()">
	<div class="form-group">
		<label for="name">Title</label>
		<input type="text" ng-model="post.title" id="title" class="form-control" placeholder="title" required>
	</div>
	<div class="form-group">
		<label for="author">Author</label>
		<input type="text" ng-model="post.author" id="author" class="form-control" placeholder="author" required>
	</div>
	<div class="form-group">
		<label for="author">Type</label>
		<input type="text" ng-model="post.post_type" id="type" class="form-control" placeholder="type" required>
	</div>
	<div class="form-group">
		<wysiwyg textarea-id="post" textarea-class="form-control" textarea-height="400px" textarea-name="textareaQuestion" textarea-required ng-model="post.content" enable-bootstrap-title="true"></wysiwyg>
	</div>
	<div class="form-group">
		<label>Embedded html</label>
		<input type="text" class="form-control" ng-model="post.content">
	</div>
	<a class="btn btn-default" ng-click="deletePost()">Delete</a>
	<a class="btn btn-default" ng-click="upsertPost(post)">Submit</a>
</div>