<div class="container" ng-init="issuesModalCtrl.getImages()">
   <div class="row">
      <div class="col-md-6">
         <div class="profile-image">
            <carousel>
               <slide ng-repeat="image in issuesModalCtrl.images" active="slide.active" actual>
                  <div class="profile-image">
                     <a ng-click="issuesModalCtrl.setIssueImage(image.image_url)"><img ng-src="{{ image.image_url }}" height="455px" width="600px">
                     </a>
                  </div>
                  <div class="carousel-caption">
                     <p>profile image {{ $index }}</p>
                  </div>
               </slide>
            </carousel>
            <p><i>* click to set cover image</i>
            </p>
         </div>
      </div>
      <div class="col-md-6">
         <div class="row" style="height: 440px">
            <div class="content-inner" ng-repeat="image in user.images">
               <h4>{{ image.title }}</h4>
            </div>
            <div class="form-group">
               <input id="upload" type="file" name="cover" class="upload" style="display: none" file-select folder="'covers/'" accept="image/*" ng-model="issuesModalCtrl.issue.image_url" upload-action="issuesModalCtrl.uploadImage" />
               <button type="button" uploadfile class="btn btn-default btn-block">Upload Cover Image</button>
<!--               <button type="button" ng-click="openImageManager()" class="btn btn-default btn-block">Manage User Images</button>-->
            </div>
         </div>
         <div class="row">
            <div class="btn-group pull-right">
               <a class="btn btn-default" ng-click="cancel()">Close</a> <a class="btn btn-default" ng-click="ok()" style="margin-left: 5px">Save</a>
            </div>
         </div>
      </div>
   </div>

</div>