<div class="container" ng-init="issuesCoverModalCtrl.getImages()">
   <div class="row">
      <div class="profile-image">
         <uib-carousel>
            <uib-slide ng-repeat="image in issuesCoverModalCtrl.images" active="slide.active" index="$index" actual="issuesCoverModalCtrl.image">
               <div class="profile-image">
                 <img ng-src="{{ image.image_url }}" height="455px" width="600px">
               </div>
               <div class="carousel-caption">
                  <p>profile image {{ $index }}</p>
               </div>
            </uib-slide>
         </uib-carousel>
         <p><i>* click to set cover image</i>
         </p>
      </div>
   </div>
   <div class="row">
      <div class="form-group">
         <input id="upload" type="file" name="cover" class="upload" style="display: none" file-select folder="'covers/'" accept="image/*" ng-model="issuesCoverModalCtrl.issue.image_url" upload-action="issuesCoverModalCtrl.uploadImage" />
         <button type="button" uploadfile class="btn btn-default btn-block">Upload Cover Image</button>
         <!--               <button type="button" ng-click="openImageManager()" class="btn btn-default btn-block">Manage User Images</button>-->
      </div>
      <div class="btn-group pull-right">
         <a class="btn btn-default" ng-click="cancel()">Close</a> <a class="btn btn-default" ng-click="ok()" style="margin-left: 5px">Save</a>
      </div>
   </div>
</div>