<div class="container">
	<p>Carter Halbrooks</p>
	<img src="images/carter.jpg"><br>
	<a href="http://brailleanimal.tumblr.com/">http://brailleanimal.tumblr.com/</a>
	<br>
	<br>
	<p>Ian Delairre</p>
	<img src="images/ian.jpg"><br>
	<a href="https://bc.academia.edu/IanDelairre">"https://bc.academia.edu/IanDelairre"</a>
	<br>
	<br>
	<p>Shelby Jackson</p>
	<img src="images/shelby.jpg"><br>
	<br>
	<br>
	<p>Jacky Connolly</p>
	<img src="images/jacky.jpg"><br>
	<a href="http://www.jackyconnolly.com/">http://www.jackyconnolly.com/</a>
	<br>
	<br>
	<p>Turner Roth</p>
	<img src="images/turner.jpg"><br>
	<br>
	<p>Ian McCamant</p>
	<img src="images/ian_m.jpg"><br>
	<br>
	<p>Ariel Danielle Norris</p>
	<img src="images/danielle.jpg"><br>
	<br>
	<a href="http://cargocollective.com/arieldaniellenorris">http://cargocollective.com/arieldaniellenorris</a>
</div>