<div class="container" ng-init="getEntries()">
	<div dir-paginate="entry in entries | itemsPerPage: 5 | orderBy: '-created_at'" current-page="currentPage">
		<a ng-href="#/entry/{{ ::entry.id }}">
			<h1 class="entry-title">{{ ::entry.title | uppercase }}</h1>
		</a>
		<hr>
		<p class="post-meta">Posted by <a ng-href="/{{ ::entry.id }}"> {{ ::entry.user.email }}</a> on {{ ::entry.created_at | date:'medium' }}</p>
      <br>
		<p class="post-subtitle" ng-bind-html="entry.content | to_trusted"></p>
	</div>
	<br>
   <br>
	<ul class="pager">
		<dir-pagination-controls template-url="views/partials/pagination.html"></dir-pagination-controls>
	</ul>
</div>
