<div class="container" ng-init="postsCtrl.getPosts()">
   <header class="contrast-bar">
      <h3 class="section-title"><a ng-click="setFilter()">all</a> // <a ng-click="setFilter('art')">art</a> // <a ng-click="setFilter('essay')"> essays</a> // <a ng-click="setFilter('poetry')">poetry</a> // search: <input type="text" style="width: 200px" ng-model="filters.tags" /></h3>
   </header>
   <div class="row">
      <div deckgrid class="deckgrid" source="postsCtrl.posts" filter="filters" cardTemplate="scripts/core/posts/posts.deckgrid.tpl.html">
      </div>
   </div>
</div>